<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TakeNoteWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_layout.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
</head>
<body>
    <header style="height:7%;" id="header">
        <div id="navigatorBar" style="width: 100%; height: 100%;  box-shadow:2px 2px 5px 0px rgb(229, 220, 195);">
            <div style="background-color: #dca772; padding-left: 2%; padding-right: 2%; height: 100%;" class="box">
                <div style="display: flex; align-items: center; height: 100%; width: 20%;">
                    <div id="settingButton" style=" position: relative; height: 100%; align-items: center; display: flex;">
                        <i class="fa-solid fa-bars fa-2x" style="font-size: 20px;"></i> &nbsp;
                        <div class="tooltipButton discribleSettingButton">
                            <p>Setting</p>
                        </div>
                    </div>
                    <div id="homeButton" style=" position: relative; height: 100%; align-items: center; display: flex;">
                        <i class="fa-solid fa-house-chimney fa-2x" style="font-size: 20px; margin-left: 50%;"></i>
                        <div class="tooltipButton discribleHomeButton">
                            <p>Home</p>
                        </div>
                    </div>
                </div>
                <div style="opacity: 0.5; width: 20%;">Dont' trust your memory</div>
                <div id="title" style="font-family: 'Pacifico', cursive; font-size: 35px; cursor: pointer; margin-bottom: 15px; width: 20%; display: flex; justify-content: center;">penzu</div>
                <div style="opacity: 0.5; width: 20%; display: flex; justify-content: center;">Take a diary is necessary</div>
                <div style="position: relative; width: 20%; display: flex; justify-content: flex-end;" class="drop-wrapper">
                    <div style="position: relative; display: flex;">
                        @if (ViewData["Username"] == "")
                        {
                            <p id="userName" style="cursor: pointer; padding-right: 10px;">Unknow user</p>
                        }
                        else
                        {
                            <p id="userName" style="cursor: pointer; padding-right: 10px;">@ViewData["Username"]</p>
                        }
                        <i class="fa-solid fa-circle-user fa-2x " style="cursor: pointer; font-size: 25px;"></i>
                        <div class="drop-menu" id="dropleft">
                            <a asp-controller="Main" asp-action="SignIn">Sign in</a>
                            <a asp-controller="Main" asp-action="SignUp">Sign up</a>
                            <a asp-controller="Main" asp-action="SignOut">Sign out</a>
                            <a href="#">Link 4</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AllEntry.js"></script>
    <script src="~/js/Entry.js"></script>

    <script src="~/lib/modal/popper.min.js"></script>
    <script src="~/lib/modal/bootstrap.min.js"></script>
    <script src="~/lib/modal/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(function () {
        $('div[onload]').trigger('onload');
    });
    $(document).ready(function () {
        if ($('.leftMain').length) {
            var tmp = $("#header").remove();
        }
        if ($(".filterSince").length) {
            alert("something");
            $(".filterSince").val("@ViewData["FilterSince"]");
            $("#filterStarred").val("@ViewData["FilterStarred"]");
            $("#filterPositiveNegative").val("@ViewData["FilterPositiveNegative"]");
            $("#filterKeyword").val("@ViewData["FilterKeyword"]");
        }
    });
</script>